body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/nanded.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}



.container, .ticket {
    background:transparent;
    padding: 20px;    
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-top: 100px; /* Space for fixed navigation */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: white;
    font-size: 16px;
}
/*
input[type="text"],
input[type="date"],
input[type="submit"] {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    margin-left: 60px;
    margin-bottom: 20px;
    background: transparent;
    border: 1px solid whitesmoke;
    outline: none;
    font-size: 16px;
    color: #fff;

    cursor: pointer;
    transition: 0.4s;
}
input[type="text"],
input[type="date"],
input[type="submit"]::placeholder{
    padding-left: 25px;

}
input[type="text"]::placeholder{
    color: white;
}/*
input[type="submit"] {
    background-color: #120564;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #020266;
}*/

.ticket {
    text-align: center;
    transition: transform 0.2s; /* Smooth transition */
}

.ticket:hover {
    transform: translateY(-5px); /* Move up on hover */
}

.ticket:active {
    transform: translateY(2px); /* Move down on touch/click */
}
/* Navigation links */
.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #ffcc00; /* Yellow color on hover */
}

/* Social Media Icons */
.navbar .social-icons a {
    margin-left: 15px;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar .social-icons a:hover {
    color: #ffcc00; /* Yellow color on hover */
}
